<div ng-controller="MapActionCtrl" class="fullpage"> 
  <leaflet id="leafletMap" defaults="defaults" center="mapCenter" geojson="geojson" layers="layers" maxbounds="maxbounds" markers="markers"></leaflet>
</div>


<!-- Fin contenu -->
<footer ng-controller="ActionDashboardCtrl" ng-show="visible">
    <div class="navbar navbar-fixed-bottom dashboard-footer">


        <div class="col-md-11 col-md-offset-1">
            <div class="pannelClose"><!--close-->
                <button ng-click="closeDashboard()"> <i class="glyphicon glyphicon-remove"></i> </button>
            </div><!-- \. close -->
        </div>

        <div ng-controller="SectorsCtrl" class="col-md-12 mainDaschboard"> <!-- DashboardControll" -->
            <div class="row contentDashboardRow">
                <section class="col-md-offset-1 col-md-1" >
<!--                     <img src="img/iconesAction.png"class="img-responsive img-rounded" alt="Cinque Terre"> -->
						
                    <span id="actiondetail" class="icon-{{markerSelected.properties.type}} icon-actionlist"></span>
                </section>
                <section class="col-md-4 contentDashboard"> <!-- Action -->
                    <h1>{{markerSelected.properties.name}}</h1>
                    <p>{{markerSelected.properties.description}}</p>
                    
                </section><!-- \. Action-->

                <section class="col-md-2 col-md-offset-1"> <!-- XP -->
                    <table class="table dash_experience">
                        <tr>
                            <th>XP max</th>
                            <td>{{markerSelected.properties.maxXp}}</td>
                        </tr>
                        <tr>
                            <th>XP min</th>
                            <td>{{markerSelected.properties.accessLevel}}</td>
                        </tr>
                        <tr>
                            <th>Influence prévue</th>
                            <td>56%</td>
                        </tr>
                        <tr>
                            <th>baisse</th>
                            <td>1,5%</td>
                        </tr>
                        <tr>
                            <th>cooldown</th>
                            <td>{{markerSelected.properties.coolDown/60}} min</td>
                        </tr>
                    </table>
                </section> <!-- XP -->

     

            </div>
        </div> <!-- \. DashboardControll" -->
    </div>
</footer>