<div ng-controller="DocumentsCtrl">
  <div class="timeline"> <!-- TimeLine-->
    <div class="col-md-11 col-md-offset-1" >
      <div class="col-md-12">
        <ol><!--dates-->
          <li ng-repeat="document in documentsList"><!--date-->
          <a href="">
            {{document.date | date:'dd/mm/yyyy'}}
            </a>
    <!--<span class="details">
      {{document.desc}}
    </span>--> 
  </li><!--\.date-->
</ol><!--\.dates-->
</div>
</div>
</div><!--\.end TimeLine-->
<div class="col-md-11 col-md-offset-1"><!--contenu-->
  <div class="col-md-12">
   <div class="col-md-6" ><!--piecess a conviction liste-->
     <div class="col-md-12 piece" ng-repeat="document in documentsList" id="{{document.date | date:'dd/mm/yyyy'}}">  <!--piece a conviction galerie thumbs-->
      <h1>{{document.description | uppercase}}<span> - {{document.xp}} XP</span></h1>
      <p>{{document.description}}</p>
      <div class="row"><!-- images -->
        <!--Image-->
        <div class="col-md-3 thumbIcones" ng-repeat="doc in document.documents">
         <a href="" ng-click="showDocumentContent(doc)" class="thumbnail imgThumb" >
          <img src="{{doc.thumbnail}}"class="img-responsive" alt="{{doc.title}}">
          <i class="glyphicon glyphicon-{{doc.type | convertName}}"></i>
        </a>
      </div>
      <!--\.image-->  
    </div><!-- \. images -->
  </div><!--\pieces a conviction liste -->
</div><!-- \.pieces a conviction-->
<div class="col-md-6 imgGD" ng-hide="showDesc">
  <h1>{{imgGD_title}}</h1>
  <img src="{{imgGD_link}}"class="img-responsive" alt="{{imgGD_title}}" width="100%">
</div><!---->
</div>
</div><!--\.contenu-->
</div>