<nav id="header" class="navbar navbar-inverse navbar-fixed-top"  ng-controller="mainBarGameController">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ng-controller="GameCoreCtrl"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <div class="xp_wrapper col-md-1 col-md-offset-3">
      </div>
      <div class="xp_wrapper col-md-4 headerContent">
        <span class="xp">xp </span>
        <span ng-bind="nbXP"></span><span>pts</span> <span ng-show="level<11">/</span> 
        <span ng-bind="nextLvlXP" ng-show="level<11"></span><span ng-show="level<11">pts</span>
        <span class="icon-premiere_classe"></span>
        <span ng-bind="playerRank | uppercase"></span>
        <span ng-bind="playerInfos"></span>       
        <div class="loader_wrap">
          <div class="fill" ng-style="progressBar">
          </div>
        </div>
      </div>
      <ul class="nav navbar-nav notifResistance" ng-controller="MessagesCtrl">
        <li class="dropdown">
        <a class="dropdown-toggle resistance-a" data-toggle="dropdown" role="button" aria-expanded="false"><i class="icoResistance icon-notification"></i><!--<i class="badge">99</i>--></a>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="message in messages">
              <section class="row">
                <div class="col-md-11">
                  <h1>{{message.title}}</h1>
                  <p>{{message.content}}</p>
                </div>
                <div class="col-md-1 closeNotification">
                  <a ng-click="closeMessage(message)"><span class="icon-cross"></span></a>
                </div>
              </section>
            </li>
            <!--<li class="divider"></li>-->
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-href="#/" ng-click="logoutFunc()"><img src="img/logout.svg" height="30px" width="30px" alt="Logout" /></a></li>
      </ul>
    </div>
  </div>
</nav>