<nav id="header" class="navbar navbar-inverse navbar-fixed-top"  ng-controller="mainBarGameController">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="xp_wrapper col-sm-5 col-sm-offset-4">
                <p class="xp">xp</p>
                <div class="loader_wrap">
                    <div class="fill" ng-style="progressBar">
                        <p><span ng-bind="nbXP"></span><span>pts</span> <span ng-show="level<12">/</span> <span ng-bind="nextLvlXP" ng-show="level<12"></span><span ng-show="level<12">pts</span></p>
                    </div>
                </div>
                <p class="grade"><span ng-bind="playerRank"></span> <span ng-bind="playerInfos"></span></p>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-href="#/" ng-click="logoutFunc()"><img src="img/logout.svg" height="30px" width="30px" alt="Logout" /></a></li>
            </ul>
        </div>
    </div>
</nav>