<div class="container">
   <div class="row">
      <!-- logoHeader -->
      <div class="col-md-12 mainLogo">
         <img src="img/mainLogo_hydromerta.png" class="img-responsive" width="300px"  alt="...">
      </div>
   </div>
   <!-- \. logoHeader -->
   <div class="row">
      <div class="col-md-8 descriptionLandingPage">
         <!--descriptionLandingPage-->
         <div class="col-md-12 description">
            <div class="col-md-10">
               <h1>hydromerta</h1>
               <p>Dans un futur proche, l’eau est devenue une denrée rare. Une société mafieuse en a pris le contrôle il y a de cela plusieurs années et tient toute la population d’Yverdon-les-Bains sous son joug. À vous, les joueurs, de vous rebeller contre cet empire pour rendre l’eau de nouveau libre d’accès.</p>
               <p>Bienvenue dans votre QG. C'est ici que vous aurez accès aux divers moyens que nous avons mis en place pour combattre la mafia. Vous pouvez effectuer des actions offensives et en récompense, vous recevrez de l'expérience qui vous fera petit à petit monter en grade au sein de la Resistance. De plus, au fur et à mesure des actions accomplies, vous glanerez des pièces à conviction accablantes contre la Mafia et son mystérieux Boss…</p>
               <p>Mais l'offensive devant l'ordinateur ne suffit pas à remporter la guerre… Pour profiter au maximum de l'univers Hydromerta et de la richesse des contenus que nous vous avons concoctés, il est nécessaire de posséder un téléphone intelligent. Téléchargez l'application sur le  <a href="https://play.google.com/store/apps/details?id=ch.comem.hydromerta">Google Play Store</a> et accédez ainsi à une expérience complémentaire !
               </p><!--

               <button class="btn btn-default btn-credit" ng-click="openCredits()">Crédits</button>
               <img src="img/QRcode.png"> 
               <div class="col-md-3 col-md-offset-1 login">
                  <a href="https://play.google.com/store/apps/details?id=ch.comem.hydromerta"><img src="img/googlePlay.png" alt="Application Android Hydromerta"/></a>
               </div>
-->
            </div>
            <div class="col-md-2 side">  <img src="img/mafiosiAvatar.png"class="img-responsive img-round" alt="...">
	            
               <div class="mobile"><img src="img/QRcode.png"> 
                   <a href="https://play.google.com/store/apps/details?id=ch.comem.hydromerta" target="blank"><img src="img/googlePlay.png" alt="Application Android Hydromerta"/></a>
	            <button class="btn btn-default btn-credit" ng-click="openCredits()">Crédits</button></div>
            </div>
         </div>
         <div class="col-md-12 description">
            <div class="col-md-12">
               <h1>Comment jouer</h1>
               <p>Vous disposez dans l'ACTION MAP d'une carte d'Yverdon-les-Bains qui vous indiquera les emplacements de toutes les actions disponibles sur la plateforme mobile. Pour les effectuer, quittez votre QG armés d'un téléphone intelligent et rendez-vous près de ces lieux. Le combat se passe aussi dans les rues !</p>

               <p>La TACTIC MAP sera votre arme de prédilection depuis ce QG. C'est grâce à elle que vous pourrez effectuer des actions plus globales qui affecteront les quartiers de la ville. Ce faisant vous diminuerez l'influence de la Mafia dans les quartiers en question. Si vous effectuez suffisamment d'actions sur un quartier, vous aurez la possibilité de débloquer le profil du mafieux qui le gère. "Connais ton ennemi"... Dans le cas présent, ils sont 12 à imposer leur cartel sur Yverdon.</p>
               <p>La section des PIÈCES À CONVICTION reccueille tous les documents que vous aurez récupérés durant le jeu : texte, audio, vidéo, etc. Ce sont autant d'indices qui vous permettront de vous plonger dans le réseau mafieux pour tenter de mieux comprendre son organisation.</p>
               <p>Enfin, la section MAFIA vous laissera visualiser les profils des mafieux que vous aurez débloqués au fil du jeu. Explorez cette grande famille et découvrez leurs sombres secrets pour mieux les détruire !</p>

               <ul class="tuto">
                <li>
                        <span class="icon-sidenav-action"></span>
                        <p>action map</p>
                </li>
                <li>

                        <span class="icon-sidenav-tactic"></span>
                        <p>tactic map</p>

                </li>
                <li>
                        <span class="icon-sidenav-docs"></span>
                        <p>pieces a conviction <span class="badge badgePimp" ng-show="notifDoc>0" ng-bind="notifDoc"></span></p>
                </li>
                <li>
                        <span class="icon-sidenav-mafia"></span>
                        <p>mafia  <span class="badge badgePimp" ng-show="notifChar>0" ng-bind="notifChar"></span></p>
                </li>
            </ul>
            </div>
         </div>
      </div>
      <!-- \.descriptionLandingPage-->
      <!-- login form -->
      <div class="col-md-3 col-md-offset-1 login">
         <div class="row loginIcone">
            <!-- LoginIcone -->
            <div class="col-md-12 login_header">
               <img src="img/logo_header.png">
            </div>
         </div>
         <!-- \. LoginIcone -->
         <div  ng-init="tab = 1" ng-controller="PanelController as panel">
            <!-- MainLogin -->
            <div class="row">
               <div class="col-md-12 login_header">
                  <div class="col-md-6 loginMenu" ng-class="{active: panel.isSelected(1)}"><a href ng-click="panel.selectTab(1)">Connexion</a></div>
                  <div class="col-md-6 loginMenu" ng-class="{active: panel.isSelected(2)}"><a href ng-click="panel.selectTab(2)">S'enregister</a></div>
               </div>
            </div>
            <div class="row" ng-controller="loginController" class="panel" ng-show="panel.isSelected(1)">
               <!-- loginCtrl -->
               <div class="col-md-12">
                  <form class="form-inline" name="loginForm" novalidate>
                     <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                        <input type="text" class="form-control" ng-model="username" id="exampleInputEmail1" placeholder="Enter username" requried>
                     </div>
                     <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></div>
                        <input type="password" class="form-control" ng-model="password" id="exampleInputPassword1" placeholder="Password" required>
                     </div>
                     <p class="help-block" ng-show="false">* mot de passe non valide</p>
                     <div class="error-msg"><p>{{error}}</p></div>
                     <button type="submit" class="btn btn-default" ng-click="loginFunc()" ng-disabled="loginForm.$invalid">se connecter</button>
                  </form>
               </div>
               <!-- \. loginCtrl -->
            </div>
            <div class="row" ng-controller="registerController" class="panel" ng-show="panel.isSelected(2)">
               <!-- loginCtrl -->
               <div class="col-md-12">
                  <form class="form-inline" name="registerForm">
                     <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                        <input type="text" class="form-control" ng-model="username" id="exampleInputEmail1" placeholder="Enter username" required>
                     </div>
                     <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></div>
                        <input type="password" class="form-control" ng-model="password" id="exampleInputPassword1" placeholder="Password" requried>
                     </div>
                     <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></div>
                        <input type="password" class="form-control" ng-model="confirm" id="confirm" placeholder="Confirm password" required>
                     </div>
                     <div class='error-msg'><p>{{error}}</p></div>
                     <button type="submit" class="btn btn-default" ng-click="registerFunc()" ng-disabled="registerForm.$invalid">créer un compte</button>
                  </form>
               </div>
               <!-- \. loginCtrl -->
            </div>
         </div>
         <!-- \. MainLogin -->
      </div>
   </div>
</div>