<div class="container">
   <div class="row">
      <!-- logoHeader -->
      <div class="col-md-12 mainLogo">
         <img src="img/mainLogo_hydromerta.png" class="img-responsive" width="300px"  alt="...">
      </div>
   </div>
   <!-- \. logoHeader -->
   <div class="row">
      <div class="col-md-8 descriptionLandingPage">
         <!--descriptionLandingPage-->
         <div class="col-md-12 description">
            <div class="col-md-10">
               <h1>Titre</h1>
               <p>desc</p>
               <a href="#" class="text-right">en savoir +</a>
            </div>
            <div class="col-md-2">  <img src="img/mafiosiAvatar.png"class="img-responsive img-round" alt="..."></div>
         </div>
         <div class="col-md-12 description">
            <div class="col-md-2">  <img src="img/mafiosiAvatar.png"class="img-responsive img-round" alt="..."></div>
            <div class="col-md-10">
               <h1>EASY</h1>
               <p>description</p>
            </div>
         </div>
         <button ng-click="openCredits()">Crédits</button>
      </div>
      <!-- \.descriptionLandingPage-->
      <!-- login form -->
      <div class="col-md-3 col-md-offset-1 login">
         <div class="row loginIcone">
            <!-- LoginIcone -->
            <div class="col-md-12 login_header">
               <img src="img/logo_header.png">
            </div>
         </div>
         <!-- \. LoginIcone -->
         <div  ng-init="tab = 1" ng-controller="PanelController as panel">
            <!-- MainLogin -->
            <div class="row">
               <div class="col-md-12 login_header">
                  <div class="col-md-6 loginMenu" ng-class="{active: panel.isSelected(1)}"><a href ng-click="panel.selectTab(1)">Connexion</a></div>
                  <div class="col-md-6 loginMenu" ng-class="{active: panel.isSelected(2)}"><a href ng-click="panel.selectTab(2)">S'enregister</a></div>
               </div>
            </div>
            <div class="row" ng-controller="loginController" class="panel" ng-show="panel.isSelected(1)">
               <!-- loginCtrl -->
               <div class="col-md-12">
                  <form class="form-inline" name="loginForm" novalidate>
                     <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                        <input type="text" class="form-control" ng-model="username" id="exampleInputEmail1" placeholder="Enter username" requried>
                     </div>
                     <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></div>
                        <input type="password" class="form-control" ng-model="password" id="exampleInputPassword1" placeholder="Password" required>
                     </div>
                     <p class="help-block" ng-show="false">* mot de passe non valide</p>
                     <div class="error-msg"><p>{{error}}</p></div>
                     <button type="submit" class="btn btn-default" ng-click="loginFunc()" ng-disabled="loginForm.$invalid">se connecter</button>
                  </form>
               </div>
               <!-- \. loginCtrl -->
            </div>
            <div class="row" ng-controller="registerController" class="panel" ng-show="panel.isSelected(2)">
               <!-- loginCtrl -->
               <div class="col-md-12">
                  <form class="form-inline" name="registerForm">
                     <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                        <input type="text" class="form-control" ng-model="username" id="exampleInputEmail1" placeholder="Enter username" required>
                     </div>
                     <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></div>
                        <input type="password" class="form-control" ng-model="password" id="exampleInputPassword1" placeholder="Password" requried>
                     </div>
                     <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></div>
                        <input type="password" class="form-control" ng-model="confirm" id="confirm" placeholder="Confirm password" required>
                     </div>
                     <div class='error-msg'><p>{{error}}</p></div>
                     <button type="submit" class="btn btn-default" ng-click="registerFunc()" ng-disabled="registerForm.$invalid">créer un compte</button>
                  </form>
               </div>
               <!-- \. loginCtrl -->
            </div>
         </div>
         <!-- \. MainLogin -->
      </div>
   </div>
</div>