<div ng-controller="MafiaCtrl" class="mafia">
	<div class="col-md-1 col-md-offset-1 sidebar mafiaList">
		<ul class="list_wrapper">
			<li class="mafieu" ng-repeat="mafieu in characters" ng-class="active[($index)]" ng-click="showMafiosiContent(mafieu)">
				<h3>
					<span ng-if="mafieu.available" class="icon-mafieu"></span>
					<span ng-if="!mafieu.available" class="icon-locked"></span>
					{{mafieu.status}}
				</h3>
				<div class="spacer" ng-if="!(($index + 1) % 3)" />
			</li>
		</ul>
	</div>
	<div ng-if="showDesc" class="col-md-10 col-md-offset-2 mafiaContent ">
		<div class="content_wrapper">
			<div ng-class="locked" ng-if="!desc_available">
				<img class="media-object" src="{{desc_portrait}}" alt="{{desc_nickname}}">
				<h1>{{desc_lastname}}</h1>
			</div>
			<div ng-if="desc_available" class="mafieu_desc" ng-class="locked">
				<div class="descHeader">
					<img class="media-object" src="{{desc_portrait}}" alt="{{desc_nickname}}">
					<h1>{{desc_lastname}} {{desc_firstname}} - <span>{{desc_nickname}}</span></h1>
					<h4>{{desc_status}}</h4>
				</div>
				<div class="desc_life">
					<p ng-repeat="p in desc_life">{{p}}</p>
				</div>
				<div class="desc_table">
						<table class="table">
					<tbody>
						<tr>
							<th>
								Famille
							</th>
							<td>
								{{desc_family}}
							</td>
						</tr>
						<tr>
							<th>
								Physique
							</th>
							<td>
								{{desc_body}}
							</td>
						</tr>
						<tr>
							<th>
								Signe disctinctif
							</th>
							<td>
								{{desc_distinctive}}
							</td>
						</tr>
						<tr>
							<th>
								Personnalite
							</th>
							<td>
								{{desc_personality}}
							</td>
						</tr>
						<tr>
							<th>
								Force
							</th>
							<td>
								{{desc_strength}}
							</td>
						</tr>
						<tr>
							<th>
								Faiblesse
							</th>
							<td>
								{{desc_weakness}}
							</td>
						</tr>
						<tr>
							<th>
								Tic
							</th>
							<td>
								{{desc_twitch}}
							</td>
						</tr>
						<tr>
							<th>
								Vice
							</th>
							<td>
								{{desc_vice}}
							</td>
						</tr>
						<tr>
							<th>
								Boisson
							</th>
							<td>
								{{desc_drink}}
							</td>
						</tr>
						<tr>
							<th>
								Arme
							</th>
							<td>
								{{desc_weapon}}
							</td>
						</tr>
					</tbody>
				</table>
				</div>
			</div>
		</div>
	</div>
	<div id="help">
		<div class="help_icon_wrap">
			<div class="trigger">
				<h1>?</h1>
				<div class="tooltip_help">
					<p>Blublublublublublublub blublublublub</p>
				</div>
			</div>
		</div>	
	</div>
</div>