<div ng-controller="MafiaCtrl" class="mafia">
	<div class="col-md-1 col-md-offset-1 sidebar mafiaList">
		<ul class="list_wrapper">
			<li class="mafieu" ng-repeat="mafieu in characterList" ng-class="active[($index+1)]" ng-click="showMafiosiContent(mafieu)">
				<h3>
					<span ng-if="mafieu.characterAvaible" class="icon-mafieu"></span>
					<span ng-if="!mafieu.characterAvaible" class="icon-locked"></span>
					{{mafieu.status}}
				</h3>
			</li>
<!-- 			<li><h3><span class="icon-mafieu"></span>{{characterList[0].status}}</h3></li> -->
		</ul>
	</div>
	<div class="col-md-10 col-md-offset-2 mafiaContent ">
		<div class="content_wrapper">
			<div ng-hide="showDescNotAvaible" class="locked">
				<img class="media-object" src="img/unknown.png" alt="...">
				<h1 class="media-heading"> INCONNU</h1>
			</div>
			<div ng-hide="showDesc" class="mafieu_desc">
				<div class="descHeader">
					<img class="media-object" src="img/lede.png" alt="...">
					<h1>{{desc_lastname}} {{desc_firstname}} - <span>{{desc_nickname}}</span></h1>
					<h4>{{desc_status}}</h4>
				</div>
<!--
				<div class="media">
					<div class="media-left">
						<img class="media-object" src="img/lede.png" alt="...">
					</div>
					<div class="media-body">
						<h1 class="media-heading">{{desc_lastname}} {{desc_firstname}} - <span>{{desc_status}}</span></h1>
						{{desc_life}}
					</div>
				</div>
				<table class="table">
					<tbody>
						<tr>
							<th>
								Family
							</th>
							<td>
								{{desc_family}}
							</td>
							<th>
								Family
							</th>
							<td>
								{{desc_family}}
							</td>
						</tr>
						<tr>
							<th>
								Status
							</th>
							<td>
								{{desc_family}}
							</td>
							<th>
								Status
							</th>
							<td>
								{{desc_family}}
							</td>
						</tr>
						<tr>
							<th>
								weakness
							</th>
							<td>
								{{desc_weakness}}
							</td>
							<th>
								weakness
							</th>
							<td>
								{{desc_weakness}}
							</td>
						</tr>
						<tr>
					</tbody>
				</table>
-->
			</div>
		</div>
	</div>
</div>
