
<div class="modal-header">
  <h3 class="modal-title">{{items.title}}</h3>
</div>
<div class="modal-body">
  <section ng-controller="panelController as panel">
    <ul class="nav nav-pills">
      <li ng-class="{ active:panel.isSelected(1) }" ng-show="'{{items.versionUrl}}' || '{{items.versionHtml}}'">
       <a href ng-click="panel.selectTab(1)">Iamge FR</a>
     </li>
     <li ng-class="{ active:panel.isSelected(2) }" ng-show="{{items.versionUrl}}">
      <a href ng-click="panel.selectTab(2)">Image IT</a>
    </li>
    <li ng-class="{ active:panel.isSelected(3) }" ng-show="{{items.templateHtml}}">
      <a href ng-click="panel.selectTab(3)">HTML</a>
    </li>
  </ul>
  <div class="panel" ng-show="panel.isSelected(1)">
    <div ng-show="'{{items.type}}'=='image'">
      <img ng-src="{{rootUrl}}{{items.src}}" class="img-responsive">
    
    </div>

    <div ng-show="'{{items.type}}'=='photo'">
      <img ng-src="{{rootUrl}}{{items.src}}" class="img-responsive">
    </div>

    <div ng-show="'{{items.type}}'=='audio'">
        <button ng-click='audio.paused ? audio.play() : audio.pause()'>Pause</button>
        <button ng-click='audio.restart()'>Stop</button>
        <button ng-click='audio.muting = !audio.muting'>Mute</button>

        <label>Progress</label>
        <input class='form-control' type=range min=0 max=1 step=0.001 ng-model='audio.progress'>
        <label>Volume</label>
        <input class='form-control' type=range min=0 max=1 step=0.01 ng-model='audio.volume'>    </div>
    <div ng-show="'{{items.type}}'=='video'">
    <embed-video iframe-id="vimeo1" api="1" player_id="vimeo1"  width="800px" height="600   px" ng-href="{{items.src}}"></embed-video>
    </div>
  </div>

  <div class="panel" ng-show="panel.isSelected(2)">
   <div ng-show="'{{items.type}}'=='image'">
    <img ng-src=" {{rootUrl}}{{items.versionUrl}}" class="img-responsive">
  </div>



  
</div>

<div class="panel" ng-show="panel.isSelected(3)">
<div ng-bind-html=""></div>
</div>
</section>
</div>
<div class="modal-footer">
  <span ng-click="cancel()">close</span>
</div>
