<div class="modal-header">
    <h3 class="modal-title">Crédits</h3>
</div>
<div class="modal-body">
    <h2>Partenaires</h2>
    <dl>
        <dt>Race For Water</dt>
        <dd><a href="http://www.raceforwater.com/">http://www.raceforwater.com</a></dd>
        <dt>HEIG-VD</dt>
        <dd><a href="http://www.heig-vd.ch/">http://www.heig-vd.ch</a></dd>
        <dt>Commune d'Yverdon-les-Bains</dt>
        <dd><a href="http://www.yverdon-les-bains.ch/accueil/">http://www.yverdon-les-bains.ch</a></dd>
    </dl>
    <h2>Équipe de projet</h2>
    <dl>
        <dt>Gestion de projet et Management</dt>
        <dd>Emmanuel Bezençon, Robert di Rosa</dd>
        <dt>Design et Conception graphique</dt>
        <dd>Quentin De Lattre, Fabrice Clerc</dd>
        <dt>Écriture et Narration</dt>
        <dd>Mathias Oberson, Anthony Da Silva</dd>
        <dt>Technique et Développement</dt>
        <dd>Joël Gugger, Cédric Liengme, Adam Gina</dd>
        <dt>Communication</dt>
        <dd>Natalie Canonica, Maya Jeanmonod</dd>
    </dl>
    <h2>Documents fictifs</h2>
    <h3>Acteurs</h3>
    <dl>
        <dt>Don Pellegrino (jeune)</dt>
        <dd>Romain Cherantola</dd>
        <dt>Chef de la résistance</dt>
        <dd>Adam Gina</dd>
        <dt>Témoin anonyme</dt>
        <dd>Quentin De Lattre</dd>
        <dt>M. Aubin Givry</dt>
        <dd>Fabrice Clerc</dd>
        <dt>Alberto Salvatore, plombier déchu</dt>
        <dd>Patrick Morier-Genoud</dd>
        <dt>Policier civil 1</dt>
        <dd>Robert di Rosa</dd>
        <dt>Policier civil 2</dt>
        <dd>Joël Gugger</dd>
        <dt>Client du sous-sol</dt>
        <dd>Mathias Oberson</dd>
        <dt>M. Audric Goudreau, syndic d’Yverdon</dt>
        <dd>Yves Germanier</dd>
        <dt>Saboteur</dt>
        <dd>Fabrice Clerc</dd>
    </dl>
    <h3>Doubleurs</h3>
    <dl>
        <dt>Résistante interrogeant le témoin (voix)</dt>
        <dd>Maya Jeanmonod</dd>
        <dt>Le Dé (voix)</dt>
        <dd>Davide Valdarnini</dd>
        <dt>Don Pellegrino (voix)</dt>
        <dd>Patrick Morier-Genoud</dd>
    </dl>
    <h3>Photo stock (Dreamstime.com)</h3>
    <dl>
        <dt>Paolo Salvatore, bébé</dt>
        <dd>Gvictoria</dd>
        <dt>Lucas Salvatore, 2 ans</dt>
        <dd>Greir11</dd>
        <dt>Lucas Salvatore, bébé</dt>
        <dd>Famveldman</dd>
        <dt>Alessandra Salvatore, 1 an</dt>
        <dd>Joshua Rainey</dd>
        <dt>Alessandra Salvatore, bébé</dt>
        <dd>Barbara Helgason</dd>
        <dt>Portrait de Julia Salvatore</dt>
        <dd>Siarhei Zapatylak</dd>
        <dt>Mugshot de Daniele Salvatore</dt>
        <dd>Jacekjagla</dd>
        <dt>Camion livraison Hydromerta</dt>
        <dd>Milan Surkala</dd>
    </dl>
    <h3>Illustrations</h3>
    <dl>
        <dt>Portrait de Raggazina</dt>
        <dd>Tom Wahli</dd>
        <dt>Chef de la résistance</dt>
        <dd>Mathias Oberson</dd>
        <dt>Silhouette de mafieux</dt>
        <dd>Mathias Oberson</dd>
        <dt>Tous les autres portraits de mafieux</dt>
        <dd>Bruce Sereta</dd>
    </dl>
    <h3>Cartes</h3>
    <dl>
        <dt>Carte du voyage Lugano - Yverdon</dt>
        <dd>Mapbox & OpenStreetMap</dd>
        <dt>Carte d’Yverdon-les-Bains</dt>
        <dd>Swisstopo.ch</dd>
        <dt>Carte canton de Vaud</dt>
        <dd>Swisstopo.ch</dd>
    </dl>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>