
<div class="modal-header">
  <h3 class="modal-title">{{items.title}}</h3>
</div>
<div class="modal-body">

  <!--<div ng-show="{{items.templateHtml}}">
    {{items.templateHtml}}
  </div>-->

  <section ng-controller="panelController as panel">
    <ul class="nav nav-pills">
      <li ng-class="{ active:panel.isSelected(1) }" ng-show="'{{items.versionUrl}}' || '{{items.versionHtml}}'">
       <a href ng-click="panel.selectTab(1)">Iamge FR</a>
     </li>
     <li ng-class="{ active:panel.isSelected(2) }" ng-show="{{items.versionUrl}}">
      <a href ng-click="panel.selectTab(2)">Image IT</a>
    </li>
    <li ng-class="{ active:panel.isSelected(3) }" ng-show="{{items.templateHtml}}">
      <a href ng-click="panel.selectTab(3)">HTML</a>
    </li>
  </ul>
  <div class="panel" ng-show="panel.isSelected(1)">
    <div ng-show="'{{items.type}}'=='image'">
      <img ng-src="{{rootUrl}}{{items.src}}" class="img-responsive">
    </div>

    <div ng-show="'{{items.type}}'=='photo'">
      <img ng-src="{{rootUrl}}{{items.src}}" class="img-responsive">
    </div>

    <div ng-show="'{{items.type}}'=='audio'">
    <audio>
        <source ng-src="{{rootUrl+items.src}}" type="audio/mpeg">
    </audio>
    </div>

    <div ng-show="'{{items.type}}'=='video'">
    <!--{{items.src}}-->
    <embed-video iframe-id="vimeo1" api="1" player_id="vimeo1" ng-href="{{items.src}}"></embed-video>
    </div>
  </div>

  <div class="panel" ng-show="panel.isSelected(2)">
   <div ng-show="'{{items.type}}'=='image'">
    <img ng-src="{{items.versionUrl}}" class="img-responsive">
  </div>
</div>

<div class="panel" ng-show="panel.isSelected(3)">
<div ng-bind-html=""></div>
</div>
</section>
<!--
<div class="modal-link">
  <h1>En savoir plus ?</h1>
  <a ng-href="http://www.gravatar.com/avatar/{{hash}}" target="_blank">http://www.gravatar.com/avatar/{{hash}}</a>
</div>
-->
</div>
<div class="modal-footer">
  <span ng-click="cancel()">close</span>
</div>
