
<div class="modal-header">
  <h3 class="modal-title">{{items.title}}</h3>
</div>
<div class="modal-body">
  <div ng-show="{{items.templateHtml}}">
    {{items.templateHtml}}
  </div>
  <section ng-controller="panelController as panel">
    <ul class="nav nav-pills">
      <li ng-class="{ active:panel.isSelected(1) }">
       <a href ng-click="panel.selectTab(1)">Fichier - 1</a>
     </li>
     <li ng-class="{ active:panel.isSelected(2) }" ng-show="{{items.versionurl}}">
      <a href ng-click="panel.selectTab(2)">Fichier - 2</a>
    </li>
    <li ng-class="{ active:panel.isSelected(3) }" ng-show="{{items.templateHtml}}">
      <a href ng-click="panel.selectTab(3)">Fichier - 3</a>
    </li>
  </ul>
  <div class="panel" ng-show="panel.isSelected(1)">
    <div ng-show="'{{items.type}}'=='image'">
      <img ng-src="{{rootUrl}}{{items.src}}" class="img-responsive">
    </div>
    <div ng-show="'{{items.type}}'=='video'">
      <iframe ng-src="{{items.src}}" width="auto" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
  <div class="panel" ng-show="panel.isSelected(2)">
   <div ng-show="'{{items.type}}'=='image'">
    <img ng-src="{{rootUrl}}{{items.versionurl}}" class="img-responsive">
  </div>
</div>
<div class="panel" ng-show="panel.isSelected(3)">
  Tab 3 Content
</div>
</section>
<!--
<div class="modal-link">
  <h1>En savoir plus ?</h1>
  <a ng-href="http://www.gravatar.com/avatar/{{hash}}" target="_blank">http://www.gravatar.com/avatar/{{hash}}</a>
</div>
-->
</div>
<div class="modal-footer">
  <span ng-click="cancel()">close</span>
</div>
