<div class="container-fluid" ng-controller="NavBarCtrl" id="navBar">
    <div class="row">
        <div id="nav-left" class="col-md-1 sidebar">
            <ul class="nav nav-sidebar">
                <li ng-class="{active: actionsBtn}">
                    <a ng-href="#/actions" ng-click="goToActions()">
                        <span class="icon-sidenav-action"></span>
                        <p>action map</p>
                    </a>
                </li>
                <li ng-class="{active: tacticBtn}">
                    <a ng-href="#/tactic"  ng-click="goToTactic()">
                        <span class="icon-sidenav-tactic"></span>
                        <p>tactic map</p>
                    </a>
                </li>
                <li ng-class="{active: documentsBtn}">
                    <a ng-href="#/documents" ng-click="goToDocuments()">
                        <span class="icon-sidenav-docs"></span>
                        <p>pieces a conviction <span class="badge badgePimp" ng-show="notifDoc>0" ng-bind="notifDoc"></span></p>
                    </a>
                </li>
                <li ng-class="{active: mafiaBtn}">
                    <a ng-href="#/mafia" ng-click="goToMafia()">
                        <span class="icon-sidenav-mafia"></span>
                        <p>mafia  <span class="badge badgePimp" ng-show="notifChar>0" ng-bind="notifChar"></span></p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>