<div class="container-fluid">
    <div class="row">
        <div  id="nav-left" class="col-md-1 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active">
                    <a href="#">
                        <span class="icon-sidenav-action"></span>
                        <p>action map</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon-sidenav-tactic"></span>
                        <p>tactic map</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon-sidenav-docs"></span>
                        <p>pieces a conviction</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon-sidenav-mafia"></span>
                        <p>mafia</p>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Configuration largeur contenu -->
        <div class="col-md-11 col-md-offset-1 main">
            <div id='map-one' class='map'> </div>
        </div>
    </div>
</div>